name: Xiamo_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Build
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          gomobile bind -v -target=android ./mobile
