name: Xiamo_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Prepare Mobile Module
        run: |
          cd mobile
          go mod init github.com/burak0220/xiamo-core/mobile || true
          go mod tidy

      - name: Install Gomobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init

      # İŞTE ÇÖZÜM BURADA: "-androidapi 21" EKLENDİ
      - name: Build Android Library
        run: |
          gomobile bind -v -target=android -androidapi 21 ./mobile
