name: Xiamo_Blockchain_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Fix Android NDK
        # NDK yolunu GitHub'ın güncel sistemine göre zorla tanımlıyoruz
        run: |
          echo "ANDROID_NDK_HOME=$ANDROID_SDK_ROOT/ndk-bundle" >> $GITHUB_ENV

      - name: Install Tools
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          go mod tidy

      - name: Build Android Library
        run: |
          # Hem API hatasını hem de yol hatasını çözen ana komut
          gomobile bind -v -target=android -androidapi 21 ./mobile
