name: Xiamo_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go Environment
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false

      - name: Generate Dependencies
        run: |
          go mod tidy
          go mod download

      - name: Install Mobile Tools
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init

      - name: Build Android AAR
        run: |
          gomobile bind -v -target=android ./mobile
