name: XiamoBuild
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: SetGo
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Mobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
      - name: Bind
        run: gomobile bind -v -target=android ./mobile
